<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light">
        
        <!-- LoginActivity - Màn hình đăng nhập (LAUNCHER) -->
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- RegisterActivity - Màn hình đăng ký -->
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        
        <!-- MainActivity - Màn hình chính -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        
        <!-- JobDetailActivity -->
        <activity
            android:name=".activity.JobDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light" />
        
        <!-- ApplyActivity -->
        <activity
            android:name=".activity.ApplyActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light" />
        
        <!-- RecruiterDashboardActivity -->
        <activity
            android:name=".activity.RecruiterDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        
        <!-- AddJobActivity -->
        <activity
            android:name=".activity.AddJobActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        
        <!-- AdminDashboardActivity -->
        <activity
            android:name=".activity.AdminDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
            
    </application>

</manifest>